*:focus {
    outline: none;
}
html {
  height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.submit-side{
  background-color: #D6D6D6;
  display: inline-block;
  height: 103%;
  margin-bottom: -5px;
  margin-right: -4px;
  min-height: 700px;
  overflow-y: auto;
  position: absolute;
  width: 33.3%;
}

.header {
  color: #2BA6A4;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.header-style {
  color: #FFFFFF;
}

.title-missing-field {
  text-align: center;
}

.logo {
  display: block;
  height: 175px;
  margin: auto;
  width: auto;
}

#title-input, #description-input {
  border-radius: 20px;
  border: none;
  display: block;
  height: 18px;
  margin: auto;
  width: 240px;
}

.label-text {
  color: #636161;
  display: block;
  margin-bottom: 5px;
  margin-top: 45px;
  margin: auto;
  text-align: center;
}

.label-text .two {
  margin-top: 20px;
}

.save-btn {
  background-color: #2BA6A4;
  border: none;
  color: #FFFFFF;
  display: block;
  height: 35px;
  margin: auto;
  margin-top: 25px;
  width: 65px;
}

.save-btn:hover {
  background-color: #FFFFFF;
  color:#2BA6A4;
  cursor: pointer;
}

.load-more, .show-complete {
  background-color: #FFFFFF;
  border: none;
  color:#2BA6A4;
  cursor: pointer;
  height: 35px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 25px;
  width: 150px;
}

.button-container {
  display: inline-flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.load-more:hover, .show-complete:hover {
  background-color: #D3D3D3;
  color: #636161;
}

.card-side {
  background-color: #2BA6A4;
  display: inline-block;
  height: 103%;
  left: 33.3%;
  margin: 0;
  min-height: 700px;
  padding: 0;
  position: absolute;
  vertical-align: top;
  width: 66.6%;
}

.filter-container {
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  width: 100%;
  width: 325px;
}

#filter { 
  border-radius: 20px;
  border: none;
  height: 18px; 
  width: 240px;
}

#filter-label {
  color: #FFFFFF;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin-left: 10px;
  padding-right: 5px;
}

.filter-buttons {
  margin-top: 0px;
  margin: auto;
  padding-bottom: 20px;
  width: 437.5px;
}

.none, .low, .normal, .high, .critical {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  height: 25px;
  margin: 0 5px;
  width: 75px;
}

.none {
  background-image: url('images/none-button.svg');
}

.none:hover {
  background-image: url('images/none-button-hover.svg');
}

.low {
  background-image: url('images/low-button.svg');
}

.low:hover {
  background-image: url('images/low-button-hover.svg');
}

.normal {
  background-image: url('images/normal-button.svg');
}

.normal:hover {
  background-image: url('images/normal-button-hover.svg');
}

.high {
  background-image: url('images/high-button.svg');
}

.high:hover {
  background-image: url('images/high-button-hover.svg');
}

.critical {
  background-image: url('images/critical-button.svg');
}

.critical:hover {
  background-image: url('images/critical-button-hover.svg');
}

.card-container {
  height: 72%;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}

.card {
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 125px;
  margin: auto;
  margin-top: 20px; 
  width: 600px;
}

.true {
  opacity: .35;
}

.false {

}

.circle-delete, .circle-upvote, .circle-downvote,
.importance-dot {
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.none:hover, .low:hover, .normal:hover, .high:hover, .critical:hover{ 
  cursor: pointer;
}

.circle-delete {
  background-image: url('images/delete.svg');
  background-position: center;
  float: right;
  height: 20px;
  margin-right: 20px; 
  margin-top: 20px;
  width: 20px;
}

.circle-delete:hover {
  background-image: url('images/delete-hover.svg');
  cursor: pointer;
}
.circle-upvote {
  background-image: url('images/up-arrow.svg');
  margin-bottom: 20px;
}

.circle-upvote:hover {
  background-image: url('images/up-arrow-hover.svg');
  cursor: pointer;
}
.circle-downvote {
  background-image: url('images/down-arrow.svg');
  cursor: pointer;
  margin-top: 20px;
}
.circle-downvote:hover {
  background-image: url('images/down-arrow-hover.svg');
  cursor: pointer;
}

.complete-task{
  background-color: #D3D3D3;
  border-style: none;
  color: #636161;
  height: 20px;
  margin: 0 0 0 450px;
  width: 80px;
}

.complete-task:hover{
  color: #FFFFFF;
  cursor: pointer;
}

.importance-dot-1 {
  background-image: url('images/none-dot.svg');
}

.importance-dot-2 {
  background-image: url('images/low-dot.svg');
}

.importance-dot-3 {
  background-image: url('images/normal-dot.svg');
}

.importance-dot-4 {
  background-image: url('images/high-dot.svg');
}

.importance-dot-5 {
  background-image: url('images/critical-dot.svg');
}

.vote-container {
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
  width: 40px;
}

.text-container {
  display: inline-block;
  height: 125px;
  margin-bottom: 20px;
  margin: auto;
  vertical-align: top;
  width: 400px;
}

.card-header {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

@media screen and (max-width: 950px) {

  .card {
    width: 500px;
  }

  .complete-task {
    margin: 0 0 0 350px;
  }

}

@media screen and (max-width: 750px) {
  .submit-side {
    max-height: 200px;
    position: relative;
    top: 0;
    width: 100%;
  }

  .header {
    font-size: 35px;
    margin: 0;
  }

  .logo {
    height: 50px;
  }

  .label-text {
    margin-top: 5px;
  }

  .card-side {
    left: 0;
    top: 300px;
    width: 100%;
  }
  .title-missing-field {
    margin-top: 25px;
    padding-top: 0;
  }

  .save-btn {
    width: 242px;
  }

  .card {
    width: 450px;
  }

  .complete-task {
    margin: 0 0 0 300px;
  }

  .text-container {
    width: 100px;
  }

  .filter-buttons {
    width: 300px;
  }

  .high, .critical  {
    margin-left: 50px;
    margin-top: 20px;
  }

  .none, .low, .normal {
    margin-left: 17px;
  }
   .button-container {
    height: 20px;
  }

  .load-more, .show-complete {
    font-size: 10px;
    height: 25px;
    margin: auto;
    margin-top: 25px;
    width: 100px;
  }
}

@media screen and (max-width: 470px) {
  .card {
    width: 315px;
  }

   .complete-task {
    margin: 0 0 0 175px;
  }

  .button-container {
    height: 20px;
  }

  .load-more, .show-complete {
    font-size: 10px;
    height: 25px;
    margin: auto;
    margin-top: 25px;
    width: 100px;
  }
}