*:focus {
    outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.submit-side{
  position: fixed;
  background-color: #D6D6D6;
  width: 33.3%;
  display: inline-block;
  height: 100%;
  margin-right: -4px;
  padding: 0;
}

.header {
  text-align: center;
  font-weight: 700;
  color: #2BA6A4;
  font-size: 60px;
}

.header-style {
  color: #FFFFFF;
}

.logo {
  display: block;
  margin: auto;
  height: 175px;
  width: auto;
}

#title-input, #description-input {
  border: none;
  border-radius: 20px;
  width: 240px;
  height: 18px;
  margin: auto;
  display: block;
}

.label-text {
  color: #636161;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 5px;
}

.save-btn {
  background-color: #2BA6A4;
  color: #FFFFFF;
  height: 35px;
  width: 65px;
  border: none;
  display: block;
  margin: auto;
  margin-top: 25px;
}

.save-btn:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  color:#2BA6A4;
}

.card-side {
  position: fixed;
  left: 33.3%;
  background-color: #2BA6A4;
  vertical-align: top;
  display: inline-block;
  height: 100%;
  width: 66.6%;
  margin: 0;
  padding: 0;
}

.filter-container {
  position: fixed;
  right: 50px;
  top: 50px;
  display: inline-block;
  width: 300px;
  height: 30px;
}

#filter { 
  border: none;
  border-radius: 20px;
  width: 240px;
  height: 18px; 
}

#filter-label {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 16px;
}

.card-container {
  width: 66.6%;
  height: 100%;
  top: 150px;
  position: fixed;
  overflow-y: scroll;
}

.card {
  background-color: #FFFFFF;
  width: 600px;
  margin: auto;
}